---
- name: Install Zabbix Official Repository
  ansible.builtin.dnf:
    name: "{{ repo_rpm_url }}"
    state: present
    disable_gpg_check: true

- name: Install Zabbix Agent 2
  ansible.builtin.dnf:
    name: zabbix-agent2
    state: present

- name: Configure Zabbix Agent 2 Basic Settings
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^Server=', line: "Server={{ zabbix_server_ip }}" }
    - { regexp: '^Hostname=', line: "Hostname={{ inventory_hostname }}" }
  notify: restart zabbix-agent

- name: Configure Agent for Auto-Registration
  ansible.builtin.blockinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    block: |
      ServerActive={{ zabbix_server_ip }}
      HostMetadata=Linux
  notify: restart zabbix-agent

- name: Ensure Zabbix Agent 2 is started and enabled
  ansible.builtin.systemd:
    name: zabbix-agent2
    state: started
    enabled: true

- name: Install Firewalld and Python dependencies
  ansible.builtin.dnf:
    name:
      - firewalld
      - python3-firewall
    state: present

- name: Ensure firewalld is running and enabled
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true

- name: Allow Zabbix Agent through Firewall
  ansible.builtin.firewalld:
    port: 10050/tcp
    permanent: true
    state: enabled
    immediate: true
  ignore_errors: true