---
# handlers file for roles/base-config
- name: Restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true