---
- name: Remove Host from Zabbix Server
  hosts: "{{ target_hosts | default('all') }}"
  connection: local
  vars_files:
    - "../fake_db.yml"

  vars:
    # Connection variables for the inventory
    ansible_user: deploy
    ansible_ssh_private_key_file: "~/.ssh/deploy_key"
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    zabbix_api_url: "http://{{ zabbix_server_ip }}/zabbix/api_jsonrpc.php"

  tasks:
    - name: "Getting host ID for {{ VMName }}"
      ansible.builtin.uri:
        url: "{{ zabbix_api_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "host.get"
          params:
            filter:
              host: ["{{ VMName }}"]
          auth: null # In Zabbix 6.4/7.0 user.login can be omitted if credentials are passed
          id: 1
      register: host_lookup

    - name: "Login to Zabbix to obtain API Token"
      ansible.builtin.uri:
        url: "{{ zabbix_api_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "user.login"
          params:
            username: "Admin"
            password: "zabbix"
          id: 1
      register: login_result

    - name: "Searching for ID of {{ VMName }}"
      ansible.builtin.uri:
        url: "{{ zabbix_api_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "host.get"
          params:
            filter:
              host: ["{{ VMName }}"]
          auth: "{{ login_result.json.result }}"
          id: 2
      register: host_search

    - name: "Deleting host from Zabbix"
      ansible.builtin.uri:
        url: "{{ zabbix_api_url }}"
        method: POST
        body_format: json
        body:
          jsonrpc: "2.0"
          method: "host.delete"
          params:
            - "{{ host_search.json.result[0].hostid }}"
          auth: "{{ login_result.json.result }}"
          id: 3
      when: host_search.json.result | length > 0
      register: delete_final

    - name: Display Removal Result
      ansible.builtin.debug:
        msg: "Host {{ VMName }} successfully removed from the database."
      when: delete_final is changed